.Page {
  background-color: red;
}

.PageContent {
  /* TODO - Add selectors to properly center vertically */
}

.PageHeadline {
  background-color: hotpink;
}

.PageSubhead {
  background-color: darkslategrey;
}

.PageFooter {
  background-color: lightgreen;
  position: absolute;
  bottom: 0px;
}
