.Page {
  color: white;
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.PageContent {
  display: grid;
  align-items: center;
  width: 100%;
}

/* Responsive design */

.PageContent {
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 500px) {
  .PageContent {
    grid-template-columns: 100%;
  }
}
