@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css");
html,
body,
#root {
  height: 100%;
}

body {
  background-color: teal;
}

.full-height {
  height: 100%;
}
