/* Layout and sizing */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 1%;
}

.full-height {
  height: 100%;
}

.container {
  height: 100%;
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

/* Typography */

body {
  font-family: HelveticaNeue;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.text-headline {
  font-size: 5.25rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2.2px;
  margin: 0;
}

.text-subhead {
  font-size: 0.875rem;
  line-height: 1.86;
  letter-spacing: normal;
  margin: 0;
}

.text-callout {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.33;
  margin: 0;
}

.text-body {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.86;
  letter-spacing: normal;
  margin: 0;
}

.text-button {
  font-size: 0.938rem;
  font-weight: bold;
  letter-spacing: normal;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
}
