.Header {
  display: flex;
  flex-direction: column;
  color: white;
}

.HeaderLogo {
  max-width: 77px;
  max-height: 39px;
}

.HeaderTopRow {
  display: flex;
  justify-content: space-between;
}

.HeaderContactUsButton {
  background-color: Transparent;
  border: 1px solid white;
  cursor: pointer;
  color: inherit;
}

.HeaderNavLink {
  color: inherit;
  text-decoration: none;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
}
